on:
  push: 
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: sidunoleh/test-php:latest

      - uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USERNAME }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
              docker image pull sidunoleh/test-php:latest
              docker container stop test-php
              docker container rm test-php
              docker container run -d --name test-php -p 5000:5000 -v /var/www/app:/var/www/app test/php